@font-face {
  font-family: 'PureunJeonnam';
  font-weight: 500;
  src: url("../font/PureunJeonnam.woff") format("woff"); }
@font-face {
  font-family: 'PureunJeonnam';
  font-weight: 700;
  src: url("../font/PureunJeonnam-Bold.woff") format("woff"); }
* {
  font-family: 'PureunJeonnam', 'Sans-serif'; }

::selection {
  background-color: #ffecaf; }

.wrap {
  position: relative; }

ul {
  list-style: none;
  margin: 0;
  font-size: 1.2rem; }

.mb-5 {
  margin-bottom: 5rem; }

.header ul {
  display: inline-block; }
  .header ul li {
    display: inline-block;
    padding: 1.2rem 0; }
    .header ul li a {
      padding: 1.2rem 4rem 1.2rem 0; }

a:link, a:visited, a:hover, a:active, a {
  text-decoration: none !important; }

html, body {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

.header {
  position: fixed;
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: right;
  z-index: 99;
  transition: background-color .5s ease-out; }
  .header a:link, .header a:visited {
    color: #fff;
    text-decoration: none; }

.main {
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 1200px;
  background: url("../image/main_img4.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  box-shadow: 0 1px 20px 5px rgba(0, 0, 0, 0.3); }
  .main .title {
    position: relative;
    width: 50rem;
    height: 30rem;
    top: 50%;
    transform: translate(0, -50%);
    background: rgba(0, 0, 0, 0.5);
    margin: 0 auto; }
    .main .title:before, .main .title:after, .main .title .title_text:before, .main .title .title_text:after {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: width .5s, height .5s; }
    .main .title:before {
      border-top: 1px solid #fff;
      width: 0%; }
    .main .title:after {
      border-right: 1px solid #fff;
      height: 0%; }
    .main .title .title_text:before {
      border-bottom: 1px solid #fff;
      width: 0%;
      left: unset; }
    .main .title .title_text:after {
      border-left: 1px solid #fff;
      height: 0%;
      top: unset; }
    .main .title .title_text {
      color: #fff;
      font-size: 5rem;
      text-align: center;
      padding: 11.5rem 0; }
    .main .title.on:before, .main .title.on2 .title_text:before {
      width: 100%; }
    .main .title.on1:after, .main .title.on3 .title_text:after {
      height: 100%; }

.about {
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 1200px; }
  .about .about_wrap {
    position: relative;
    display: table;
    width: 80%;
    height: 100%;
    bottom: 0;
    margin: auto;
    padding-top: 15rem; }
    .about .about_wrap .about_title {
      font-size: 8rem;
      font-weight: bold;
      text-align: center;
      color: #8cddeb; }
    .about .about_wrap .about_text {
      display: table;
      font-size: 2rem;
      text-align: center;
      margin: 8rem auto;
      transition: font-size .5s; }
      .about .about_wrap .about_text [highlight_ani] {
        position: relative;
        display: inline-block;
        transition: color 1s; }
        .about .about_wrap .about_text [highlight_ani].on {
          color: transparent; }
        .about .about_wrap .about_text [highlight_ani]:before {
          position: absolute;
          width: 0;
          content: attr(highlight_ani);
          color: #30b7e8;
          white-space: nowrap;
          overflow: hidden;
          transition: width 1s;
          pointer-events: none; }
        .about .about_wrap .about_text [highlight_ani].on:before {
          width: 100%; }
      .about .about_wrap .about_text .underline {
        position: relative;
        width: 10rem;
        height: 1px;
        left: 50%;
        margin: 30px 0;
        transform: translate(-50%, 0);
        background-color: #ccc; }
      .about .about_wrap .about_text .skills_wrap {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center; }
        .about .about_wrap .about_text .skills_wrap .skills {
          position: relative;
          display: flex;
          align-items: center;
          color: #333; }
          .about .about_wrap .about_text .skills_wrap .skills:hover {
            cursor: pointer; }
          .about .about_wrap .about_text .skills_wrap .skills:hover .text:before {
            height: 100%;
            top: 0; }
          .about .about_wrap .about_text .skills_wrap .skills:hover .circle {
            box-shadow: 0 0 0 8px #ffe079; }
          .about .about_wrap .about_text .skills_wrap .skills .text {
            position: relative;
            display: inline-block; }
            .about .about_wrap .about_text .skills_wrap .skills .text:before {
              position: absolute;
              content: "";
              width: 100%;
              height: 0%;
              top: 50%;
              background-color: rgba(204, 204, 204, 0.3);
              z-index: -1;
              transition: height .5s, top .5s;
              pointer-events: none; }
          .about .about_wrap .about_text .skills_wrap .skills .circle {
            position: relative;
            display: inline-block;
            width: 5rem;
            height: 5rem;
            background-color: #ffe079;
            margin-left: 2rem;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;
            box-shadow: 0 0 0 5px #ffe079;
            transition: box-shadow .5s ease-in-out; }
            .about .about_wrap .about_text .skills_wrap .skills .circle:before {
              position: absolute;
              content: "";
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              -ms-border-radius: 50%;
              -o-border-radius: 50%;
              border-radius: 50%;
              box-shadow: 0 3px 1.5rem 0.5rem #ccc;
              z-index: -1; }
            .about .about_wrap .about_text .skills_wrap .skills .circle:after {
              position: absolute;
              content: "";
              top: 50%;
              left: 50%;
              width: 60%;
              height: 60%;
              transform: translate(-50%, -50%);
              color: #fff;
              background-image: url("../image/ico_move.svg");
              background-size: cover; }

.skills_popup {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100; }
  .skills_popup.on {
    display: unset; }
    .skills_popup.on ~ .skills_table {
      display: unset; }

.skills_table {
  position: fixed;
  display: none;
  width: 80vw;
  max-width: 800px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 101;
  box-shadow: .5rem .5rem 5rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
  .skills_table table {
    margin: 1rem 0; }
    .skills_table table thead th {
      font-size: 13px;
      color: #94979c;
      text-align: left;
      font-weight: bold; }
      .skills_table table thead th:nth-child(1), .skills_table table thead th:nth-child(2) {
        width: 10vw;
        text-align: center; }
      .skills_table table thead th:nth-child(3) {
        width: 40vw; }
    .skills_table table tbody td {
      position: relative;
      font-size: 13px;
      height: 40px;
      padding: .3em 1em;
      font-weight: bold; }
      .skills_table table tbody td:nth-child(1), .skills_table table tbody td:nth-child(2) {
        text-align: center;
        color: #fff; }
    .skills_table table tbody td:nth-child(1):before {
      position: absolute;
      content: "";
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      height: 60%;
      z-index: -1;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px; }
    .skills_table table tbody td:nth-child(2):before {
      position: absolute;
      content: "";
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 60%;
      height: 60%;
      z-index: -1;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      background: rgba(0, 0, 0, 0.4); }
    .skills_table table .cat_program:before {
      background: #8dca35; }
    .skills_table table .cat_web:before {
      background: #00bfdd; }
    .skills_table table .cat_dbms:before {
      background: #ff702a; }
  .skills_table .exit {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    right: 1.2rem;
    top: .5rem;
    line-height: 2rem;
    text-align: center;
    color: #444;
    font-size: 2rem;
    border: 2px solid #444;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: #f9f9f9;
    transition: background-color .5s, transform .5s; }
    .skills_table .exit:hover {
      cursor: pointer;
      background-color: #cccccc;
      transform: rotate(360deg); }

.work {
  position: relative;
  width: 100%;
  padding-bottom: 10rem;
  background: #f5f5f5;
  box-sizing: content-box; }
  .work .work_title {
    font-size: 8rem;
    font-weight: bold;
    text-align: center;
    color: #8cddeb;
    padding-bottom: 5rem; }
  .work .work_wrap {
    display: table;
    width: 80%;
    height: 100%;
    bottom: 0;
    margin: auto;
    padding-top: 15rem; }
    .work .work_wrap .work_content {
      position: relative;
      display: block;
      width: 100%;
      box-sizing: content-box; }
      .work .work_wrap .work_content .work_repeat {
        position: relative;
        display: flex;
        width: 100%;
        box-sizing: content-box;
        text-align: center; }
        .work .work_wrap .work_content .work_repeat:nth-child(even) .work_tooltip {
          order: -1; }
        .work .work_wrap .work_content .work_repeat .work_img img {
          width: 100%; }
        .work .work_wrap .work_content .work_repeat .work_tooltip {
          text-align: left; }
          .work .work_wrap .work_content .work_repeat .work_tooltip h3 {
            font-size: 30px;
            font-weight: bold; }
          .work .work_wrap .work_content .work_repeat .work_tooltip > ul li.desc, .work .work_wrap .work_content .work_repeat .work_tooltip p {
            font-size: 15px;
            margin: 10px 0; }
          .work .work_wrap .work_content .work_repeat .work_tooltip > ul li.desc strong {
            width: 70px;
            margin-right: 40px; }
          .work .work_wrap .work_content .work_repeat .work_tooltip > ul {
            margin: 20px 0;
            padding: 0; }
          .work .work_wrap .work_content .work_repeat .work_tooltip:after {
            display: block;
            content: "";
            clear: both; }

[data-num]:before {
  position: relative;
  display: inline-block;
  content: attr(data-num);
  color: #30b7e8;
  margin-right: 20px;
  font-size: 40px; }

.palette {
  display: flex;
  padding: 0; }

[data-color] {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px 0 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
  [data-color]:before {
    position: absolute;
    content: attr(data-color);
    left: 50%;
    top: -40px;
    transform: translate(-50%, 0);
    white-space: nowrap;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px 10px;
    opacity: 0;
    transition: opacity .3s; }
  [data-color]:hover:before {
    opacity: 1; }

.button_wrap {
  display: block;
  text-align: center;
  margin: 30px 0; }
  .button_wrap div {
    position: relative;
    display: inline-block; }

.button {
  color: #30b7e8 !important;
  border: 2px solid #30b7e8;
  padding: 10px 15px;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  transition: background-color .3s, color .3s; }
  .button:hover {
    color: #fff !important;
    background-color: #30b7e8; }

@media screen and (max-width: 1200px) {
  .work_repeat {
    flex-direction: column; }

  .work .work_wrap .work_content .work_repeat .work_tooltip {
    order: 0 !important; } }
@media screen and (max-width: 980px) {
  .about .about_wrap .about_text {
    font-size: 1.5rem; } }
@media screen and (max-width: 700px) {
  .about .about_wrap .about_text {
    font-size: 1.2rem;
    text-align: left; } }

/*# sourceMappingURL=main.css.map */
