@font-face {
  font-family: 'PureunJeonnam';
  font-weight: 500;
  src: url("../font/PureunJeonnam.woff") format("woff"); }
@font-face {
  font-family: 'PureunJeonnam';
  font-weight: 700;
  src: url("../font/PureunJeonnam-Bold.woff") format("woff"); }
/* Public */
* {
  font-family: 'PureunJeonnam', 'Sans-serif'; }

::selection {
  background-color: #ffecaf; }

.wrap {
  position: relative; }

ul {
  list-style: none;
  margin: 0;
  font-size: 1.2rem; }

.mb-5 {
  margin-bottom: 5rem; }

.header ul {
  display: inline-block;
  font-size: 1.2rem; }
  .header ul li {
    display: inline-block;
    padding: 1.2rem 0; }
    .header ul li a {
      padding: 1.2rem 4rem 1.2rem 0; }

a:link, a:visited, a:hover, a:active, a {
  text-decoration: none !important; }

html, body {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

[data-num]:before {
  position: relative;
  display: inline-block;
  content: attr(data-num);
  color: #30b7e8;
  margin-right: 20px;
  font-size: 40px; }

.palette {
  display: flex;
  padding: 0; }

[data-color] {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px 0 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
  [data-color]:before {
    position: absolute;
    content: attr(data-color);
    left: 50%;
    top: -40px;
    transform: translate(-50%, 0);
    white-space: nowrap;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px 10px;
    opacity: 0;
    transition: opacity .3s; }
  [data-color]:hover:before {
    opacity: 1; }

.button_wrap {
  display: block;
  text-align: center;
  margin: 30px 0; }
  .button_wrap div {
    position: relative;
    display: inline-block; }

.button {
  color: #30b7e8 !important;
  border: 2px solid #30b7e8;
  padding: 10px 15px;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  transition: background-color .3s, color .3s; }
  .button:hover {
    color: #fff !important;
    background-color: #30b7e8; }

.center {
  display: flex;
  align-items: center;
  justify-content: center; }

/* Private */
.header {
  position: fixed;
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: right;
  z-index: 99;
  transition: background-color .5s ease-out; }
  .header a:link, .header a:visited {
    color: #fff;
    text-decoration: none; }
  .header.on {
    background-color: black;
    box-shadow: 0 1px 10px 5px rgba(0, 0, 0, 0.3); }

.main {
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 1200px;
  background: url("../image/main_img4.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat; }
  .main .title .title_line:before, .main .title .title_line:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%; }
  .main .title .title_line:before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    left: 50%;
    width: 0;
    transition: left .3s, width .3s; }
  .main .title .title_line:after {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    top: 50%;
    height: 0;
    transition: top .3s, height .3s; }
  .main:hover .title .title_line:before {
    left: 0;
    width: 100%; }
  .main:hover .title .title_line:after {
    top: 0;
    height: 100%; }
  .main .title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50rem;
    height: 30rem;
    top: 50%;
    transform: translate(0, -50%);
    background: rgba(0, 0, 0, 0.5);
    margin: 0 auto; }
    .main .title .title_line {
      position: absolute;
      width: 90%;
      height: 90%; }
    .main .title .icon {
      display: block;
      text-align: center; }
      .main .title .icon .phone, .main .title .icon .email {
        position: relative;
        display: inline-block;
        width: 3.2rem;
        height: 3.2rem;
        margin: 0 1rem; }
        .main .title .icon .phone .title_icon, .main .title .icon .email .title_icon {
          display: block;
          width: 100%;
          height: 100%;
          background-color: #fff;
          background-image: url("../image/phone.png");
          background-size: cover;
          -webkit-border-radius: 3.2rem;
          -moz-border-radius: 3.2rem;
          -ms-border-radius: 3.2rem;
          -o-border-radius: 3.2rem;
          border-radius: 3.2rem;
          box-shadow: 0 0 0 .5rem #fff;
          transition: background-color .3s, box-shadow .3s; }
          .main .title .icon .phone .title_icon:hover, .main .title .icon .email .title_icon:hover, .main .title .icon .phone .title_icon:focus, .main .title .icon .email .title_icon:focus {
            background-color: #ccc;
            box-shadow: 0 0 0 .5rem #ccc; }
          .main .title .icon .phone .title_icon:before, .main .title .icon .email .title_icon:before {
            position: absolute;
            content: attr(data-content);
            left: 50%;
            top: -4rem;
            white-space: nowrap;
            color: #fff;
            background-color: rgba(0, 0, 0, 0.5);
            padding: .6rem 1rem;
            opacity: 0;
            transform: translate(-50%, 0);
            transition: opacity .3s;
            pointer-events: none; }
          .main .title .icon .phone .title_icon:hover:before, .main .title .icon .email .title_icon:hover:before {
            opacity: 1; }
      .main .title .icon .email .title_icon {
        background-image: url("../image/email.png"); }
    .main .title .title_text {
      text-align: center;
      color: #fff;
      font-size: 4rem; }
      .main .title .title_text p:nth-child(2) {
        font-size: 2rem;
        margin-bottom: 4rem; }

.about {
  position: relative;
  width: 100%;
  min-height: 100vh;
  max-height: 1200px; }
  .about .about_wrap {
    position: relative;
    display: table;
    width: 80%;
    height: 100%;
    bottom: 0;
    margin: auto;
    padding-top: 15rem; }
    .about .about_wrap .about_title {
      font-size: 8rem;
      font-weight: bold;
      text-align: center;
      color: #8cddeb; }
    .about .about_wrap .about_text {
      display: table;
      font-size: 2rem;
      text-align: center;
      margin: 8rem auto;
      transition: font-size .5s; }
      .about .about_wrap .about_text [highlight_ani] {
        position: relative;
        display: inline-block;
        transition: color 1s; }
        .about .about_wrap .about_text [highlight_ani].on {
          color: transparent; }
        .about .about_wrap .about_text [highlight_ani]:before {
          position: absolute;
          width: 0;
          content: attr(highlight_ani);
          color: #30b7e8;
          white-space: nowrap;
          overflow: hidden;
          transition: width 1s;
          pointer-events: none; }
        .about .about_wrap .about_text [highlight_ani].on:before {
          width: 100%; }
      .about .about_wrap .about_text .underline {
        position: relative;
        width: 10rem;
        height: 1px;
        left: 50%;
        margin: 30px 0;
        transform: translate(-50%, 0);
        background-color: #ccc; }
      .about .about_wrap .about_text .skills_wrap {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center; }
        .about .about_wrap .about_text .skills_wrap .skills {
          position: relative;
          display: flex;
          align-items: center;
          color: #333; }
          .about .about_wrap .about_text .skills_wrap .skills:hover {
            cursor: pointer; }
          .about .about_wrap .about_text .skills_wrap .skills:hover .text:before {
            height: 100%;
            top: 0; }
          .about .about_wrap .about_text .skills_wrap .skills:hover .circle {
            box-shadow: 0 0 0 8px #ffe079; }
          .about .about_wrap .about_text .skills_wrap .skills .text {
            position: relative;
            display: inline-block; }
            .about .about_wrap .about_text .skills_wrap .skills .text:before {
              position: absolute;
              content: "";
              width: 100%;
              height: 0%;
              top: 50%;
              background-color: rgba(204, 204, 204, 0.3);
              z-index: -1;
              transition: height .5s, top .5s;
              pointer-events: none; }
          .about .about_wrap .about_text .skills_wrap .skills .circle {
            position: relative;
            display: inline-block;
            width: 5rem;
            height: 5rem;
            background-color: #ffe079;
            margin-left: 2rem;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;
            box-shadow: 0 0 0 5px #ffe079;
            transition: box-shadow .5s ease-in-out; }
            .about .about_wrap .about_text .skills_wrap .skills .circle:before {
              position: absolute;
              content: "";
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              -ms-border-radius: 50%;
              -o-border-radius: 50%;
              border-radius: 50%;
              box-shadow: 0 3px 1.5rem 0.5rem #ccc;
              z-index: -1; }
            .about .about_wrap .about_text .skills_wrap .skills .circle:after {
              position: absolute;
              content: "";
              top: 50%;
              left: 50%;
              width: 60%;
              height: 60%;
              transform: translate(-50%, -50%);
              color: #fff;
              background-image: url("../image/ico_move.svg");
              background-size: cover; }

.skills_popup {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100; }
  .skills_popup.on {
    display: unset; }
    .skills_popup.on ~ .skills_table {
      display: unset; }

.skills_table {
  position: fixed;
  display: none;
  width: 80vw;
  max-width: 800px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 101;
  box-shadow: .5rem .5rem 5rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
  .skills_table table {
    margin: 1rem 0; }
    .skills_table table thead th {
      font-size: 13px;
      color: #94979c;
      text-align: left;
      font-weight: bold; }
      .skills_table table thead th:nth-child(1), .skills_table table thead th:nth-child(2) {
        width: 10vw;
        text-align: center; }
      .skills_table table thead th:nth-child(3) {
        width: 40vw; }
    .skills_table table tbody td {
      position: relative;
      font-size: 13px;
      height: 40px;
      padding: .3em 1em;
      font-weight: bold; }
      .skills_table table tbody td:nth-child(1), .skills_table table tbody td:nth-child(2) {
        text-align: center;
        color: #fff; }
    .skills_table table tbody td:nth-child(1):before {
      position: absolute;
      content: "";
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      height: 60%;
      z-index: -1;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px; }
    .skills_table table tbody td:nth-child(2):before {
      position: absolute;
      content: "";
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 60%;
      height: 60%;
      z-index: -1;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      background: rgba(0, 0, 0, 0.4); }
    .skills_table table .cat_program:before {
      background: #8dca35; }
    .skills_table table .cat_web:before {
      background: #00bfdd; }
    .skills_table table .cat_dbms:before {
      background: #ff702a; }
  .skills_table .exit {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    right: 1.2rem;
    top: .5rem;
    line-height: 2rem;
    text-align: center;
    color: #444;
    font-size: 2rem;
    border: 2px solid #444;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: #f9f9f9;
    transition: background-color .5s, transform .5s; }
    .skills_table .exit:hover {
      cursor: pointer;
      background-color: #cccccc;
      transform: rotate(360deg); }

.work {
  position: relative;
  width: 100%;
  padding-bottom: 10rem;
  background: #f5f5f5;
  box-sizing: content-box; }
  .work .work_title {
    font-size: 8rem;
    font-weight: bold;
    text-align: center;
    color: #8cddeb;
    padding-bottom: 5rem; }
  .work .work_wrap {
    display: table;
    width: 80%;
    height: 100%;
    bottom: 0;
    margin: auto;
    padding-top: 15rem; }
    .work .work_wrap .work_content {
      position: relative;
      display: block;
      width: 100%;
      box-sizing: content-box; }
      .work .work_wrap .work_content .work_repeat {
        position: relative;
        display: flex;
        width: 100%;
        box-sizing: content-box;
        text-align: center;
        opacity: 0;
        transition: opacity 1s; }
        .work .work_wrap .work_content .work_repeat.slide {
          opacity: 1; }
        .work .work_wrap .work_content .work_repeat:nth-child(even) .work_tooltip {
          order: -1; }
        .work .work_wrap .work_content .work_repeat .work_img img {
          width: 100%; }
        .work .work_wrap .work_content .work_repeat .work_tooltip {
          text-align: left; }
          .work .work_wrap .work_content .work_repeat .work_tooltip h1 {
            font-size: 3rem;
            font-weight: bold; }
          .work .work_wrap .work_content .work_repeat .work_tooltip > ul li.desc, .work .work_wrap .work_content .work_repeat .work_tooltip p {
            font-size: 1.5rem;
            margin: 10px 0; }
          .work .work_wrap .work_content .work_repeat .work_tooltip > ul li.desc strong {
            width: 70px;
            margin-right: 40px; }
          .work .work_wrap .work_content .work_repeat .work_tooltip > ul {
            margin: 20px 0;
            padding: 0; }
          .work .work_wrap .work_content .work_repeat .work_tooltip:after {
            display: block;
            content: "";
            clear: both; }

.timeline {
  margin: 0 !important; }
  .timeline .timeline-start {
    display: flex;
    justify-content: center;
    margin-top: 5rem; }
    .timeline .timeline-start .circle-start {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      width: 8rem;
      height: 8rem;
      font-size: 2.3rem;
      font-weight: bold;
      background-color: #ccc;
      -webkit-border-radius: 8rem;
      -moz-border-radius: 8rem;
      -ms-border-radius: 8rem;
      -o-border-radius: 8rem;
      border-radius: 8rem;
      transition: background-color .3s; }
      .timeline .timeline-start .circle-start.on {
        background-color: #ffe079; }
  .timeline .timeline-repeat {
    display: flex; }
    .timeline .timeline-repeat .timeline-wrap {
      flex-grow: 1;
      padding: 4rem 6rem; }
      .timeline .timeline-repeat .timeline-wrap .timeline-content-wrap {
        position: relative;
        color: #fff;
        width: 70%;
        background-color: #30b7e8;
        padding: 2rem 3rem;
        opacity: 0;
        transition: opacity 1s;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        border-radius: 6px; }
        .timeline .timeline-repeat .timeline-wrap .timeline-content-wrap.slide {
          opacity: 1; }
        .timeline .timeline-repeat .timeline-wrap .timeline-content-wrap .timeline-title {
          font-size: 2rem;
          font-weight: bold; }
        .timeline .timeline-repeat .timeline-wrap .timeline-content-wrap .timeline-content {
          font-size: 1.5rem; }
    .timeline .timeline-repeat:nth-child(odd) .timeline-empty, .timeline .timeline-repeat:nth-child(even) .timeline-wrap {
      position: relative;
      border-right: 1px solid #ccc;
      transition: border-color .3s; }
      .timeline .timeline-repeat:nth-child(odd) .timeline-empty.on, .timeline .timeline-repeat:nth-child(even) .timeline-wrap.on {
        border-color: #ffe079; }
      .timeline .timeline-repeat:nth-child(odd) .timeline-empty:before, .timeline .timeline-repeat:nth-child(even) .timeline-wrap:before {
        position: absolute;
        content: "";
        right: 0;
        top: 50%;
        width: 3rem;
        height: 3rem;
        transform: translate(50%, -50%);
        background-color: #ccc;
        -webkit-border-radius: 3rem;
        -moz-border-radius: 3rem;
        -ms-border-radius: 3rem;
        -o-border-radius: 3rem;
        border-radius: 3rem;
        transition: background-color .3s; }
      .timeline .timeline-repeat:nth-child(odd) .timeline-empty.on:before, .timeline .timeline-repeat:nth-child(even) .timeline-wrap.on:before {
        background-color: #ffe079; }
    .timeline .timeline-repeat:nth-child(even) .timeline-wrap .timeline-content-wrap {
      float: right; }
    .timeline .timeline-repeat:nth-child(even) .timeline-wrap .timeline-content-wrap:before {
      position: absolute;
      display: block;
      content: "";
      right: 0;
      top: 50%;
      border-top: .5rem solid transparent;
      border-bottom: .5rem solid transparent;
      border-left: 0.5rem solid #30b7e8;
      transform: translate(100%, -50%);
      z-index: 9;
      clear: both; }
    .timeline .timeline-repeat:nth-child(odd) .timeline-wrap {
      order: 1; }
      .timeline .timeline-repeat:nth-child(odd) .timeline-wrap .timeline-content-wrap:before {
        position: absolute;
        display: block;
        content: "";
        left: 0;
        top: 50%;
        border-top: .5rem solid transparent;
        border-bottom: .5rem solid transparent;
        border-right: 0.5rem solid #30b7e8;
        transform: translate(-100%, -50%);
        z-index: 9; }
  .timeline .timeline-end {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem; }
    .timeline .timeline-end .circle-end {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      width: 5rem;
      height: 5rem;
      font-size: 1.8rem;
      font-weight: bold;
      background-color: #ccc;
      -webkit-border-radius: 5rem;
      -moz-border-radius: 5rem;
      -ms-border-radius: 5rem;
      -o-border-radius: 5rem;
      border-radius: 5rem;
      transition: background-color .3s; }
      .timeline .timeline-end .circle-end.on {
        background-color: #ffe079; }

.face {
  background-color: #333; }
  .face .myface {
    width: 15rem;
    height: 15rem;
    margin: 4rem;
    background-image: url("../image/face.jpg");
    background-size: 15rem;
    -webkit-border-radius: 15rem;
    -moz-border-radius: 15rem;
    -ms-border-radius: 15rem;
    -o-border-radius: 15rem;
    border-radius: 15rem; }
  .face .myinfo {
    display: flex;
    color: #fff;
    height: 15rem;
    flex-direction: column;
    justify-content: space-between; }

@media screen and (max-width: 1200px) {
  html, body {
    font-size: 16px !important; }

  .header ul li {
    padding: .5rem 0; }

  .header ul li a {
    padding-top: .5rem;
    padding-bottom: .5rem; }

  .work_repeat {
    flex-direction: column; }

  .work .work_wrap .work_content .work_repeat .work_tooltip {
    order: 0 !important; }

  .timeline .timeline-repeat:nth-child(odd) .timeline-empty,
  .timeline .timeline-repeat:nth-child(even) .timeline-wrap {
    border: none; }

  .timeline {
    position: relative; }
    .timeline:before {
      position: absolute;
      content: "";
      left: 50%;
      top: 0;
      height: 100%;
      border-right: 1px solid #ffe079; } }
@media screen and (max-width: 980px) {
  .about .about_wrap .about_text {
    font-size: 1.5rem; } }
@media screen and (max-width: 700px) {
  .about .about_wrap .about_text {
    font-size: 1.2rem;
    text-align: left; } }

/*# sourceMappingURL=main.css.map */
