$yellow: #ffe079;
$blue: #30b7e8;
//@import url('//cdn.rawgit.com/young-ha/webfont-archive/master/css/PureunJeonnam.css');

@font-face {
    font-family: 'PureunJeonnam';
    font-weight: 500;
    src: url('../font/PureunJeonnam.woff') format('woff');
}
@font-face {
    font-family: 'PureunJeonnam';
    font-weight: 700;
    src: url('../font/PureunJeonnam-Bold.woff') format('woff');
}

@mixin mixin-border-radius($params) {
	-webkit-border-radius: $params;
	   -moz-border-radius: $params;
	    -ms-border-radius: $params;
	     -o-border-radius: $params;
	        border-radius: $params;
}



/* Public */

* {
	font-family: 'PureunJeonnam', 'Sans-serif';
}

::selection {
	background-color: #ffecaf;
}

.wrap {
	position: relative;
}

ul {
	list-style: none;
	margin: 0;
	font-size: 1.2rem;
}

.mb-5 {
	margin-bottom: 5rem;
}

.header ul {
	display: inline-block;
	font-size: 1.2rem;
	& li {
		display: inline-block;
		padding: 1.2rem 0;
		& a {
			padding: 1.2rem 4rem 1.2rem 0;
		}
	}
}

a:link, a:visited, a:hover, a:active, a {
	text-decoration: none !important;
	//color: unset !important;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

[data-num]:before {
	position: relative;
	display: inline-block;
	content: attr(data-num);
	color: $blue;
	margin-right: 20px;
	font-size: 40px
}

.palette {
	display: flex;
	padding: 0;
}

[data-color] {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 5px 0 0;
	@include mixin-border-radius(4px);
	&:before {
		position: absolute;
		content: attr(data-color);
		left: 50%;
		top: -40px;
		transform: translate(-50%,0);
		white-space: nowrap;
		color: #fff;
		background-color: rgba(0,0,0,.8);
		padding: 5px 10px;
		opacity: 0;
		transition: opacity .3s;
	}

	&:hover:before {
		opacity: 1;
	}
}

.button_wrap {
	display: block;
	text-align: center;
	margin: 30px 0;
	div {
		position: relative;
		display: inline-block;
	}
}

.button {
	color: $blue !important;
	border: 2px solid $blue;
	padding: 10px 15px;
	font-weight: bold;
	@include mixin-border-radius(3px);
	transition: background-color .3s, color .3s;
	&:hover {
		color: #fff !important;
		background-color: $blue;
	}
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}


/* Private */

.header {
	position: fixed;
	width: 100%;
	height: 40px;
	background-color: rgba(0,0,0,.5);
	color: #fff;
	text-align: right;
	z-index: 99;
	transition: background-color .5s ease-out;
	a:link, a:visited {
		color: #fff;
		text-decoration: none;
	}
	&.on {
		background-color: rgba(0,0,0,1);
		box-shadow: 0 1px 10px 5px rgba(0,0,0,.3);
	}
}

.main {
	position: relative;
	width: 100%;
	height: 100vh;
	max-height: 1200px;
	background: url("../image/main_img4.jpg");
	background-position: 50% 0;
	background-repeat: no-repeat;
	.title .title_line:before, .title .title_line:after {
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
	}
	.title .title_line:before {
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
		left: 50%;
		width: 0;
		transition: left .3s, width .3s;
	}
	.title .title_line:after {
		border-left: 1px solid #fff;
		border-right: 1px solid #fff;
		top: 50%;
		height: 0;
		transition: top .3s, height .3s;
	}
	&:hover .title .title_line:before {
		left: 0;
		width: 100%;
	}
	&:hover .title .title_line:after {
		top: 0;
		height: 100%;
	}
	.title {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 50rem;
		height: 30rem;
		top: 50%;
		transform: translate(0, -50%);
		background: rgba(0,0,0,.5);
		margin: 0 auto;
		.title_line {
			position: absolute;
			width: 90%;
			height: 90%;
		}
		.icon {
			display: block;
			text-align: center;
			.phone {
				position: relative;
				display: inline-block;
				width: 3.2rem;
				height: 3.2rem;
				margin: 0 1rem;
				.title_icon {
					display: block;
					width: 100%;
					height: 100%;
					background-color: #fff;
					background-image: url("../image/phone.png");
					background-size: cover;
					@include mixin-border-radius(3.2rem);
					box-shadow: 0 0 0 .5rem #fff;
					transition: background-color .3s, box-shadow .3s;
					&:hover, &:focus {
						background-color: #ccc;
						box-shadow: 0 0 0 .5rem #ccc;
					}
					&:before {
						position: absolute;
						content: attr(data-content);
						left: 50%;
						top: -4rem;
						white-space: nowrap;
						color: #fff;
						background-color: rgba(0,0,0,.5);
						padding: .6rem 1rem;
						opacity: 0;
						transform: translate(-50%,0);
						transition: opacity .3s;
						pointer-events: none;
					}
					&:hover:before {
						opacity: 1;
					}
				}
			}
			.email {
				@extend .phone;
				.title_icon {
					background-image: url("../image/email.png");
				}
			}
		}
		.title_text {
			text-align: center;
			color: #fff;
			font-size: 4rem;
			p:nth-child(2) {
				font-size: 2rem;
				margin-bottom: 4rem;
			}
		}
	}
}

.about {
	position: relative;
	width: 100%;
	min-height: 100vh;
	max-height: 1200px;
	& .about_wrap {
		position: relative;
		display: table;
		width: 80%;
		height: 100%;
		bottom: 0;
		margin: auto;
		padding-top: 15rem;
		& .about_title {
			font-size: 8rem;
			font-weight: bold;
			text-align: center;
			color: #8cddeb;
		}
		& .about_text {
			display: table;
			font-size: 2rem;
			text-align: center;
			margin: 8rem auto;
			transition: font-size .5s;
			& [highlight_ani] {
				position: relative;
				display: inline-block;
				transition: color 1s;
				&.on {
					color: transparent;
				}
				&:before {
					position: absolute;
					width: 0;
					content: attr(highlight_ani);
					color: $blue;
					white-space: nowrap;
					overflow: hidden;
					transition: width 1s;
					pointer-events: none;
				}
				&.on:before {
					width: 100%;
				}
			}
			& .underline {
				position: relative;
				width: 10rem;
				height: 1px;
				left: 50%;
				margin: 30px 0;
				transform: translate(-50%, 0);
				background-color: #ccc;
			}
			& .skills_wrap {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				& .skills {
					position: relative;
					display: flex;
					align-items: center;
					color: #333;
					&:hover {cursor: pointer;}
					&:hover .text:before {
						height: 100%;
						top: 0;
					}
					&:hover .circle {
						box-shadow: 0 0 0 8px $yellow;
					}
					& .text {
						position: relative;
						display: inline-block;
						&:before {
							position: absolute;
							content: "";
							width: 100%;
							height: 0%;
							top: 50%;
							background-color: rgba(204, 204, 204, 0.3);
							z-index: -1;
							transition: height .5s, top .5s;
							pointer-events: none;
						}
					}
					& .circle {
						position: relative;
						display: inline-block;
						width: 5rem;
						height: 5rem;
						background-color: $yellow;
						margin-left: 2rem;
						@include mixin-border-radius(50%);
						box-shadow: 0 0 0 5px $yellow;
						transition: box-shadow .5s ease-in-out;
						&:before {
							position: absolute;
							content: "";
							left: 0;
							top: 0;
							width: 100%;
							height: 100%;
							@include mixin-border-radius(50%);
							box-shadow: 0 3px 1.5rem 0.5rem #ccc;
							z-index: -1;
						}
						&:after {
							position: absolute;
							content: "";
							top: 50%;
							left: 50%;
							width: 60%;
							height: 60%;
							transform: translate(-50%, -50%);
							color: #fff;
							background-image: url("../image/ico_move.svg");
							background-size: cover;
						}
					}
				}
			}
		}
	}
}

.skills_popup {
	position: fixed;
	display: none;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	background-color: rgba(0,0,0,.5);
	z-index: 100;
	&.on {
		display: unset;
		& ~ .skills_table {display: unset;}
	}
}

.skills_table {
	position: fixed;
	display: none;
	width: 80vw;
	max-width: 800px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	z-index: 101;
	box-shadow: .5rem .5rem 5rem;
	@include mixin-border-radius(4px);
	& table {
		margin: 1rem 0;
		& thead th {
			font-size: 13px;
			color: #94979c;
			text-align: left;
			font-weight: bold;
			&:nth-child(1), &:nth-child(2) {
				width: 10vw;
				text-align: center;
			}
			&:nth-child(3) {
				width: 40vw;
			}
		}
		& tbody td {
			position: relative;
			font-size: 13px;
			height: 40px;
			padding: .3em 1em;
			font-weight: bold;
			&:nth-child(1), &:nth-child(2) {
				text-align: center;
				color: #fff;
			}
		}
		& tbody td:nth-child(1):before {
			position: absolute;
			content: "";
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 80%;
			height: 60%;
			z-index: -1;
			@include mixin-border-radius(3px);
		}
		& tbody td:nth-child(2):before {
			position: absolute;
			content: "";
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 60%;
			height: 60%;
			z-index: -1;
			@include mixin-border-radius(3px);
			background: rgba(0,0,0,.4);
		}
		& .cat_program:before {background: #8dca35;}
		& .cat_web:before {background: #00bfdd;}
		& .cat_dbms:before {background: #ff702a;}
	}
	& .exit {
		position: absolute;
		width: 2.5rem;
		height: 2.5rem;
		right: 1.2rem;
		top: .5rem;
		line-height: 2rem;
		text-align: center;
		color: #444;
		font-size: 2rem;
		border: 2px solid #444;
		@include mixin-border-radius(50%);
		background-color: #f9f9f9;
		transition: background-color .5s, transform .5s;
		&:hover {
			cursor: pointer;
			background-color: #cccccc;
			transform: rotate(360deg);
		}
	}
}

.work {
	position: relative;
	width: 100%;
	//height: 100vh;
	padding-bottom: 10rem;
	//max-height: 1200px;
	background: #f5f5f5;
	box-sizing: content-box;
	& .work_title {
		font-size: 8rem;
		font-weight: bold;
		text-align: center;
		color: #8cddeb;
		padding-bottom: 5rem;
	}
	& .work_wrap {
		display: table;
		width: 80%;
		height: 100%;
		bottom: 0;
		margin: auto;
		padding-top: 15rem;
		& .work_content {
			position: relative;
			display: block;
			width: 100%;
			box-sizing: content-box;
			& .work_repeat {
				position: relative;
				display: flex;
				width: 100%;
				box-sizing: content-box;
				text-align: center;
				opacity: 0;
				transition: opacity 1s;
				&.slide {
					opacity: 1;
				}
				&:nth-child(even) .work_tooltip {
					order: -1;
				}
				& .work_img {
					img {
						width: 100%;
					}
				}
				& .work_tooltip {
					text-align: left;
					& h1 {
						font-size: 3rem;
						font-weight: bold;
					}
					&>ul li.desc, & p {font-size: 1.5rem; margin: 10px 0;}
					&>ul li.desc strong {width: 70px; margin-right: 40px;}
					&>ul {margin: 20px 0; padding: 0;}
					&:after {
						display: block;
						content: "";
						clear: both;
					}
				}
			}
		}
	}
}

.timeline {
	margin: 0 !important;
	.timeline-start {
		display: flex;
		justify-content: center;
		margin-top: 5rem;
		.circle-start {
			display: flex;
			align-items: center;
			justify-content: center;
			color: #fff;
			width: 8rem;
			height: 8rem;
			font-size: 2.3rem;
			font-weight: bold;
			background-color: #ccc;
			@include mixin-border-radius(8rem);
			transition: background-color .3s;
			&.on {
				background-color: $yellow;
			}
		}
	}
	.timeline-repeat {
		display: flex;
		.timeline-wrap {
			flex-grow: 1;
			padding: 4rem 6rem;
			.timeline-content-wrap {
				position: relative;
				color: #fff;
				width: 70%;
				background-color: $blue;
				padding: 2rem 3rem;
				opacity: 0;
				transition: opacity 1s;
				@include mixin-border-radius(6px);
				&.slide {
					opacity: 1;
				}
				.timeline-title {
					font-size: 2rem;
					font-weight: bold;
				}
				.timeline-content {
					font-size: 1.5rem;
				}
			}
		}
		&:nth-child(odd) .timeline-empty, &:nth-child(even) .timeline-wrap {
			position: relative;
			border-right: 1px solid #ccc;
			transition: border-color .3s;
			&.on {
				border-color: $yellow;
			}
			&:before {
				position: absolute;
				content: "";
				right: 0;
				top: 50%;
				width: 3rem;
				height: 3rem;
				transform: translate(50%,-50%);
				background-color: #ccc;
				@include mixin-border-radius(3rem);
				transition: background-color .3s;
			}
			&.on:before {
				background-color: $yellow;
			}
		}
		&:nth-child(even) .timeline-wrap {
			.timeline-content-wrap {
				float: right;
			}
			.timeline-content-wrap:before {
				position: absolute;
				display: block;
				content: "";
				right: 0;
				top: 50%;
				border-top: .5rem solid transparent;
				border-bottom: .5rem solid transparent;
				border-left: .5rem solid $blue;
				transform: translate(100%,-50%);
				z-index: 9;
				clear: both;
			}
		}
		&:nth-child(odd) .timeline-wrap {
			order: 1;
			.timeline-content-wrap:before {
				position: absolute;
				display: block;
				content: "";
				left: 0;
				top: 50%;
				border-top: .5rem solid transparent;
				border-bottom: .5rem solid transparent;
				border-right: .5rem solid $blue;
				transform: translate(-100%,-50%);
				z-index: 9;
			}
		}
	}
	.timeline-end {
		display: flex;
		justify-content: center;
		margin-bottom: 5rem;
		.circle-end {
			display: flex;
			align-items: center;
			justify-content: center;
			color: #fff;
			width: 5rem;
			height: 5rem;
			font-size: 1.8rem;
			font-weight: bold;
			background-color: #ccc;
			@include mixin-border-radius(5rem);
			transition: background-color .3s;
			&.on {
				background-color: $yellow;
			}
		}
	}
}

.face {
	background-color: #333;
	.myface {
		width: 15rem;
		height: 15rem;
		margin: 4rem;
		background-image: url("../image/face.jpg");
		background-size: 15rem;
		@include mixin-border-radius(15rem);
	}
	.myinfo {
		display: flex;
		color: #fff;
		height: 15rem;
		flex-direction: column;
		justify-content: space-between;
	}
}

@media screen and (max-width: 1200px) {
	html, body {
		font-size: 16px !important;
	}
	.header ul li {padding: .5rem 0;}
	.header ul li a {padding-top: .5rem; padding-bottom: .5rem;}
	.work_repeat {flex-direction: column;}
	.work .work_wrap .work_content .work_repeat .work_tooltip {order: 0 !important;}
	.timeline .timeline-repeat:nth-child(odd) .timeline-empty,
	.timeline .timeline-repeat:nth-child(even) .timeline-wrap {border: none;}
	.timeline {
		position: relative;
		&:before {
			position: absolute;
			content: "";
			left: 50%;
			top: 0;
			height: 100%;
			border-right: 1px solid $yellow;
		}
	}
}

@media screen and (max-width: 980px) {
	.about .about_wrap .about_text {font-size: 1.5rem;}
}
@media screen and (max-width: 700px) {
	.about .about_wrap .about_text {font-size: 1.2rem; text-align: left;}
}