<html lang="ko">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta property="og:title" content="포트폴리오 | 임재성">
		<meta property="og:url" content="https://personalc6.github.io/Portfolio/index.html">
		<meta property="og:image" content="">
		<meta property="og:description" content="많은 사용자에게 도움이 되는 웹사이트 제작자입니다.">
		<meta property="og:email" content="personalc6@gmail.com">
		<meta property="og:phone_number" content="+82-10-4017-7274">
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/grid.css">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<script src="js/jquery-3.3.1.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/salvattore.min.js"></script>
		<script src="js/TweenMax.min.js"></script>
		<script src="js/main.js"></script>
		<script src="js/table.js"></script>
		<title>포트폴리오 | 임재성</title>
	</head>
	<body ng-app="myApp">
		<div class="wrap home">
			<header class="header">
				<nav>
					<ul>
						<li><a id="nav_home" href="#" lang="en">HOME</a></li>
						<li><a id="nav_about" href="#" lang="en">ABOUT</a></li>
						<li><a id="nav_skills" href="" lang="en">SKILLS</a></li>
						<li><a id="nav_work" href="#" lang="en">WORK</a></li>
						<li><a id="nav_timeline" href="#" lang="en">TIMELINE</a></li>
					</ul>
				</nav>
			</header>
			<main class="wrap content">
				<section id="home">
					<div class="main">
						<div class="title">
							<div class="title_line"></div>
							<div class="title_text">
								<p lang="en">Im Jae Seong</p>
								<p lang="en">web programmer</p>
							</div>
							<section class="icon">
								<div class="phone"><a class="title_icon" href="tel:010-4017-7274" data-content="010-4017-7274"></a></div>
								<div class="email"><a class="title_icon" href="mailto:personalc@naver.com" data-content="personalc@naver.com"></a></div>
							</section>
						</div>
					</div>
				</section>
				<section id="about">
					<div class="about">
						<div class="skills_popup"></div>
						<div class="skills_table">
							<span class="exit">x</span>
							<table class="table" ng-controller="tableCtrl" lang="en">
								<thead>
									<tr>
										<th>Category</th>
										<th>Level</th>
										<th>Language/Framework(Library)</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="x in languages">
										<td ng-class="{cat_program:x.category=='PROGRAM', cat_web:x.category=='WEB', cat_dbms:x.category=='DBMS'}">{{x.category}}</td>
										<td>{{x.level}}</td>
										<td>{{x.language}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="about_wrap">
							<div class="about_title" lang="en">About</div>
							<div class="about_text">
								<p>
									안녕하세요, 많은 사람들에게 도움이 되는 웹사이트를 제작하는 개발자 임재성입니다.<br/>
									저는 다년간
									<span class="highlight" highlight_ani="프로그래밍, 네트워크, 리버스 엔지니어링, 웹개발">프로그래밍, 네트워크, 리버스 엔지니어링, 웹개발</span> 기술을 터득하여<br/>
									일반적인 웹개발에 대한 지식은 물론 연계 서비스들에 대한 이해도가 높은 편입니다.<br/>
									<br/>
									<span class="highlight" highlight_ani="섬세한 성격">섬세한 성격</span>으로 웹사이트를 구현하며,<br/>
									<span class="highlight" highlight_ani="남다른 기술력">남다른 기술력</span>으로 새로운 기술을 끊임없이 연구하고 있습니다.<br/>
									제 웹사이트가 마음에 드신다면 언제든 연락 주세요
								</p>
								<div class="underline"></div>
								<div class="skills_wrap">
									<a class="skills">
										<span class="text">제가 할 수 있는 것이 궁금하신가요?</span>
										<span class="circle"></span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section id="work" ng-controller="worksCtrl">
					<div class="work">
						<div class="work_wrap">
							<div class="work_title" lang="en">Work</div>
							<article class="work_content">

								<section class="work_repeat mb-5" slide ng-repeat="x in dataset">
									<div class="work_img col-lg-8 col-md-12"><img src="{{x.img}}"></div>
									<div class="work_tooltip col-lg-4 col-md-12">
										<h1 data-num="{{x.num}}">{{x.title}}</h1>
										<ul>
											<li class="desc" lang="en"><strong>ViewPort</strong><span>{{x.viewport}}</span></li>
											<li class="desc" style="display: flex; align-items: center;" lang="en">
												<strong>Palette</strong>
												<span>
													<ul class="palette">
														<li data-color="{{x.palette1}}"></li>
														<li ng-if="x.palette2" data-color="{{x.palette2}}"></li>
														<li ng-if="x.palette3" data-color="{{x.palette3}}"></li>
													</ul>
												</span>
											</li>
										</ul>
										<div>
											<p>{{x.content1}}</p>
											<p>{{x.content2}}</p>
										</div>
										<div class="button_wrap">
											<div><a href="{{x.button_href1}}" target="_blank" class="button" lang="en">{{x.button_name1}}</a></div>
											<div ng-if="x.button_name2"><a href="{{x.button_href2}}" target="_blank" class="button" lang="en">{{x.button_name2}}</a></div>
											<div ng-if="x.button_name3"><a href="{{x.button_href3}}" target="_blank" class="button" lang="en">{{x.button_name3}}</a></div>
										</div>
									</div>
								</section>

							</article>
						</div>
					</div>
				</section>
				<section id="timeline" ng-controller="timelineCtrl">
					<div class="row timeline">
						<div class="col-lg-12 timeline-start">
							<div class="circle-start" timeline>start</div>
						</div>
						<div class="col-lg-12 timeline-repeat" ng-repeat="x in dataset">
							<div class="col-lg-6 timeline-wrap" timeline>
								<div class="timeline-content-wrap" slide>
									<div class="timeline-title">{{x.date}}</div>
									<div class="timeline-content">{{x.content}}</div>
								</div>
							</div>
							<div class="col-lg-6 timeline-empty" timeline></div>
						</div>
						<div class="col-lg-12 timeline-end">
							<div class="circle-end" timeline>end</div>
						</div>
					</div>
				</section>
			</main>
		</div>
		<footer>
			<div class="col-lg-12 center face">
				<div class="myface"></div>
				<div class="myinfo">
					<p>임재성</p>
					<p>Web Programmer(Full-Stack Management)</p>
					<p>010-4017-7274</p>
					<p>personalc@naver.com</p>
				</div>
			</div>
		</footer>
	</body>
</html>